
p{
    margin: 0px;
}

.projectContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    background-color:rgb(255, 255, 241);
    padding:1em;
    margin:5px;
    border-top: solid;
}

.projectTitle{
    grid-column: 1;
    grid-row: 1;
    font-size: medium;
}

.projectDescription{
    grid-column: 1;
    grid-row: 2;
    font-size: small;
    align-self: center;
}

.projectImage{
    grid-row: 2;
    grid-column: 2;
}

@media only screen and (min-width: 600px){
    .projectTitle{
       font-size: x-large;
    }

    .projectDescription{
        font-size: large;
        font-weight: 400;
    }
 }