

.navBarContainer{
    display: flex;
    align-items: center;
    background-color: white;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

a{
    font-size: smaller;
    text-decoration: none;
    color: black;
}

a:hover{
    color:red;
}

a:active{
    scale:1.1;
}

.navBarLink{
    
    padding: 1em 0.5em 1em 0.5em;
}