
.headerContainer{
   display: flex;
   flex-direction: row;
   width: 100%;
   justify-content: space-between;
   padding:1em;
}

.logoContainer{
   align-self: center;
   padding:1em;
   background-color: white;
   border-top-right-radius: 15px;
   border-bottom-right-radius: 15px;
}

@media only screen and (min-width: 600px){
   .logoContainer{
      font-size: x-large;
   }
}