
.headerContainer{
   display: flex;
   flex-direction: row;
   width: 100%;
   justify-content: space-between;
   margin-bottom: 1em;
}

.logoContainer{
   align-self: center;
   padding:1em;
   background-color: white;
   border-top-right-radius: 15px;
   border-bottom-right-radius: 15px;
}