
.headerContainer{
   display: flex;
   flex-direction: row;
   width: 100%;
   justify-content: space-between;
   margin-bottom: 1em;
}

.logoContainer{
   padding: 0em 1em 0em 1em;
   background-color: white;
   border-top-right-radius: 5px;
   border-bottom-right-radius: 5px;
}