
.projectDisplayContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    width:90%;
    height: 90svh;
}

.headingContainer{
    text-align: center;
}

.projectsContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}