
.projectDisplayContainer{
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    width:100%;
    height: 85svh;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.headingContainer{
    font-size: x-small;
    text-align: center;
}

.projectsContainer{
    display: flex;
    flex-direction: column;
    overflow: scroll;
    gap: 1em;
    padding:1em;
}

.project{
    border:solid;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    background-color:rgb(255, 255, 241);
    padding:1em;
    margin:5px;
    text-align: center;
}