
.projectDisplayContainer{
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    width:100%;
    height: 85svh;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.headingContainer{
    text-align: center;
    font-size: x-small;
    margin: 1em 0em 3em 0em;
}


.projectsContainer{
    display: flex;
    flex-direction: column;
    overflow: scroll;
    gap: 1em;
    padding:1em;
}

