
.homeContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: aliceblue;
    width:100%;
    height: 85svh;
    color:black;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

}  

.introHeading{
    font-size: xx-large;
    text-align: center;
}

.welcomeHeading{
    font-size: larger;
    text-align: center;
    color: red;
}

@media only screen and (min-width: 600px){
    .introHeading{
        font-size:300%;
        text-align: center;
    }  

    .welcomeHeading{
        font-size:x-large;
    }
}