

.AboutMeContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: aliceblue;
    width:90%;
    height: 90svh;
}

.mainHeading{
    font-size: xx-large;
    text-align: center;
}

.aboutTextContainer{
    padding:1em;
    text-align: center;
}